<!-- Prototype Annotator runtime -->
<script>
window.PROTOTYPE_ANNOTATOR_CONFIG = Object.assign({}, window.PROTOTYPE_ANNOTATOR_CONFIG || {}, { dataUrl: "./prototype-annotator/annotations.json" });
</script>
<link rel="stylesheet" href="./prototype-annotator/runtime/prototype-annotator.css">
<script id="prototype-annotations-data" type="application/json">
__ANNOTATIONS_JSON__
</script>
<script src="./prototype-annotator/runtime/markdown-renderer.js"></script>
<script src="./prototype-annotator/runtime/mermaid-loader.js"></script>
<script src="./prototype-annotator/runtime/prototype-annotator.js"></script>
<!-- /Prototype Annotator runtime -->
